.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


# Archivos Netbeans
###################
/nbproject/*
/user_guide/*


# Archivos Sublime
###################
/ci.sublime-project
ci.sublime-workspace
